{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Добавление ключегово слова:</h1>
        <form action="?/keyword/add/" method="post">
            <p>Слово: <input type="text" name="word" value=""></p>
            <p><input type="submit" value="Добавить"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}
