{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <p><a href="?/keyword/add/">Добавить ключевое слово</a></p>
        <table border="1">
            <tr>
                <th>Слово</th>
                <th colspan="2">Операции</th>
            </tr>
            {% for keyword in keywords %}
                <tr>
                    <td>{{ keyword['word'] }}</td>
                    <td><a href="?/keyword/delete/id/{{ keyword['id'] }}/">Удалить</a></td>
                    <td><a href="?/keyword/update/id/{{ keyword['id'] }}/">Изменить</a></td>
                </tr>
            {% endfor %}
        </table>

    </section> <!-- cd-faq -->
{% endblock %}
