{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Изменение ключевого слова:</h1>
        <form action="?/keyword/update/id/{{ keyword['id'] }}/" method="post">
            <p>Наименование: <input type="text" name="word" value="{{ keyword['word'] }}"></p>
            <p><input type="submit" value="Сохранить"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}
