{% extends "base.twig" %}
{% import "macro.twig" as forms %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Добавление вопроса:</h1>
        <p style="color: red">{{ errors|join('<br>') }}</p>
        <form action="?/question/add/" method="post">
            <p>Ваше имя: <input type="text" name="author_name" value="{{ author_name }}"></p>
            <p>Ваш email: <input type="text" name="author_email" value="{{ author_email }}"></p>
            <p>Категория вопроса: {{ forms.select('group', groups, group) }}</p>
            <label>
                Текст вопроса:<br>
                <textarea type="text" name="description" value="{{ description }}"></textarea>
            </label>
            <p><input type="submit" value="Добавить"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}

