{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <table border="1">
            <tr>
                <th>Категория</th>
                <th>Текст вопроса</th>
                <th>Автор</th>
                <th>Email автора</th>
                <th>Ключевые слова</th>
                <th>Дата создания</th>
                <th colspan="3">Операции</th>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>{{ question['group_name'] }}</td>
                    <td>{{ question['description'] }}</td>
                    <td>{{ question['author_name'] }}</td>
                    <td>{{ question['author_email'] }}</td>
                    <td>{{ question['words'] }}</td>
                    <td>{{ question['date_added'] }}</td>
                    <td><a href="?/question/delete/id/{{ question['id'] }}/">Удалить</a></td>
                    <td><a href="?/question/update/id/{{ question['id'] }}/">Изменить</a></td>
                    <td><a href="?/question/checked/id/{{ question['id'] }}/">Отменить блокировку</a></td>
                </tr>
            {% endfor %}
        </table>

    </section> <!-- cd-faq -->
{% endblock %}
