{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <p><a href="?/question/add/">Добавить вопрос</a></p>

        <table border="1">
            <tr>
                <th>Категория</th>
                <th>Текст вопроса</th>
                <th>Ответ</th>
                <th>Автор</th>
                <th>Email автора</th>
                <th>Дата создания</th>
                <th>Скрыт</th>
                <th>На модерации</th>
                <th colspan="2">Операции</th>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>{{ question['group_name'] }}</td>
                    <td>{{ question['description'] }}</td>
                    <td>{{ question['answer'] }}</td>
                    <td>{{ question['author_name'] }}</td>
                    <td>{{ question['author_email'] }}</td>
                    <td>{{ question['date_added'] }}</td>
                    <td>{{ question['is_hidden'] }}</td>
                    <td>{{ question['moderation'] }}</td>
                    <td><a href="?/question/delete/id/{{ question['id'] }}/">Удалить</a></td>
                    <td><a href="?/question/update/id/{{ question['id'] }}/">Изменить</a></td>
                </tr>
            {% endfor %}
        </table>

    </section> <!-- cd-faq -->
{% endblock %}
