{% extends "base.twig" %}
{% import "macro.twig" as forms %}

{% block content %}
    <section class="cd-faq faq-page">

        <div>
            <form action="?/question/select/" method="post">
                <input type="text" name="group" placeholder="Категория" value="{{ group }}"/>
                <input type="text" name="author" placeholder="Автор вопроса" value="{{ author }}"/>
                <input type="checkbox" name="not_answer"{% if not_answer %} checked{% endif %}/><label for="not_answer">Не имеющие ответа</label>
                <input type="checkbox" name="moderation"{% if moderation %} checked{% endif %}/><label for="moderation">На модерации</label>
                <label style="padding-left: 20px" for="sort_by">Сортировать по:</label>{{ forms.select('sort_by', sort_kind, sort_by) }}
                <input type="submit" value="Применить"/>
            </form>
        </div>
        <div style="clear: both"></div>
        <table border="1">
            <tr>
                <th>Категория</th>
                <th>Текст вопроса</th>
                <th>Ответ</th>
                <th>Автор</th>
                <th>Email автора</th>
                <th>Дата создания</th>
                <th>Скрыт</th>
                <th>На модерации</th>
                <th colspan="2">Операции</th>
            </tr>
            {% for question in questions %}
            <tr>
                <td>{{ question['group_name'] }}</td>
                <td>{{ question['description'] }}</td>
                <td>{{ question['answer'] }}</td>
                <td>{{ question['author_name'] }}</td>
                <td>{{ question['author_email'] }}</td>
                <td>{{ question['date_added'] }}</td>
                <td>{% if question['is_hidden'] %}Да{% else %}Нет{% endif %}</td>
                <td>{% if question['moderation'] %}Да{% else %}Нет{% endif %}</td>
                <td><a href="?/question/delete/id/{{ question['id'] }}/">Удалить</a></td>
                <td><a href="?/question/update/id/{{ question['id'] }}/">Изменить</a></td>
            </tr>
            {% endfor %}
        </table>

    </section> <!-- cd-faq -->
{% endblock %}
