{% extends "base.twig" %}
{% import "macro.twig" as forms %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Изменение вопроса:</h1>
        <form action="?/question/update/id/{{ question['id'] }}/" method="post">
            <label>
                Текст вопроса: <br>
                <textarea type="text" name="description">{{ question['description'] }}</textarea>
            </label>
            <p>Автор: <input type="text" name="author_name" value="{{ question['author_name'] }}"></p>
            <p>Email автора: <input type="text" name="author_email" value="{{ question['author_email'] }}"></p>
            <p>Категория: {{ forms.select('group', groups, group) }}</p>
            <p>Дата создания: <input type="datetime" disabled name="date_added" value="{{ question['date_added'] }}"></p>
            <label>
                Ответ: <br>
                <textarea type="text" name="answer">{{ question['answer'] }}</textarea>
            </label>
            <p>Скрыт: <input type="checkbox" name="is_hidden" value="1" {%if question['is_hidden'] %}checked{% endif %}></p>
            <p>На модерации: <input type="checkbox" name="moderation" value="1" {%if question['moderation'] %}checked{% endif %}></p>
            <p><input type="submit" value="Сохранить"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}
