<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../public/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../public/css/style.css"> <!-- Resource style -->
    <script src="../public/js/modernizr.js"></script> <!-- Modernizr -->
    <style>
        nav {
            position: relative;
            height: 0px;
            line-height: 40px;
            text-align: center;
            background-color: #a9c056;
        }
        nav > a {
            color: #4e5359;
            margin-left: 30px;
            font-size: 12px;
            font-weight: 700;
        }
        .faq-page table {
			font-size: 80%;
			margin-top: 10px;
		}
        .faq-page th, .faq-page td {
			border: 1px solid grey;
			padding: 2px;
		}
        .faq-page form {
            margin-top: 10px;
        }
        .faq-page * {
            padding-bottom: 3px;
        }
        .faq-page a {
            text-decoration: underline;
        }
        .faq-page textarea {
            width: 50%;
            height: 100px;
        }
    </style>
    <title>FAQ</title>
</head>
<body>
<header>
    <nav>
        {% for item in navigation if (item.hide == null or item.hide == 0) %}
            <a href="{{ item.href }}">{{ item.desc }}</a>
        {% endfor %}
    </nav>
    <h1>FAQ</h1>
</header>
{% block content %}{% endblock %}
<script src="../public/js/jquery-2.1.1.js"></script>
<script src="../public/js/jquery.mobile.custom.min.js"></script>
<script src="../public/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>