{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq">
        <ul class="cd-faq-categories">
            {% for group, name in groups %}
                <li><a {% if loop.index == 1 %} class="selected" {% endif %} href="#{{ group }}">{{ name }}</a></li>
            {% endfor %}
        </ul> <!-- cd-faq-categories -->

        <div class="cd-faq-items">
            {% for group, values in questions %}
                <ul id="{{ group }}" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>{{ groups[group] }}</h2></li>
                    {% for value in values %}
                        <li>
                            <a class="cd-faq-trigger" href="#0">{{ value.description }}</a>
                            <div class="cd-faq-content">
                                <p>{{ value.answer }}</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                    {% endfor %}
                </ul> <!-- cd-faq-group -->
            {% else %}
                Нет вопросов с ответами, доступных для отображения.
            {% endfor %}
        </div> <!-- cd-faq-items -->
        <a href="#0" class="cd-close-panel">Close</a>
    </section> <!-- cd-faq -->
{% endblock %}
