{% macro select(name, list, current) %}
    <select name="{{ name }}">'
        {% for key, elem in list %}
            <option {% if key == current %}selected {% endif %}value="{{ key }}">{{ elem }}</option>
        {% endfor %}
    </select>
{% endmacro %}