{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Добавление категории:</h1>
        <form action="?/group/add/" method="post">
            <p>Наименование: <input type="text" name="name" value=""></p>
            <p><input type="submit" value="Добавить"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}
