{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <p><a href="?/group/add/">Добавить категорию</a></p>
        <table border="1">
            <tr>
                <th>Наименование</th>
                <th>Всего вопросов</th>
                <th>Опубликовано</th>
                <th>Без ответов</th>
                <th colspan="3">Операции</th>
            </tr>
            {% for group in groups %}
                <tr>
                    <td>{{ group['name'] }}</td>
                    <td>{{ group['questions_total'] }}</td>
                    <td>{{ group['questions_public'] }}</td>
                    <td>{{ group['questions_unanswered'] }}</td>
                    <td><a href="?/group/delete/id/{{ group['id'] }}/">Удалить</a></td>
                    <td><a href="?/group/update/id/{{ group['id'] }}/">Изменить</a></td>
                    <td><a href="?/question/list/group_id/{{ group['id'] }}/">Перейти к вопросам</a></td>
                </tr>
            {% endfor %}
        </table>

    </section> <!-- cd-faq -->
{% endblock %}
