{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Изменение категории:</h1>
        <form action="?/group/update/id/{{ group['id'] }}/" method="post">
            <p>Наименование: <input type="text" name="name" value="{{ group['name'] }}"></p>
            <p><input type="submit" value="Сохранить"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}
