{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Добавление пользователя:</h1>
        <form action="?/user/add/" method="post">
            <p>Логин: <input type="text" name="login" value=""></p>
            <p>Пароль: <input type="text" name="password" value=""></p>
            <p><input type="submit" value="Добавить"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}
