{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Авторизация:</h1>
        <p style="color: red">{{ errors|join('<br>') }}</p>
        <form action="?/user/auth/" method="post">
            <p>Логин: <input type="text" name="login" value="{{ login }}"></p>
            <p>Пароль: <input type="password" name="password" value=""></p>
            <p><input type="submit" value="Войти"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}
