{% extends "base.twig" %}

{% block content %}
	<section class="cd-faq faq-page">
		<p><a href="?/user/add/">Добавить пользователя</a></p>
		<table border="1">
			<tr>
				<th>Логин</th>
				<th>Пароль</th>
				<th colspan="2">Операции</th>
			</tr>
            {% for user in users %}
				<tr>
					<td>{{ user['login'] }}</td>
					<td>{{ user['password'] }}</td>
					<td><a href="?/user/delete/id/{{ user['id'] }}/">Удалить</a></td>
					<td><a href="?/user/update/id/{{ user['id'] }}/">Изменить</a></td>
				</tr>
            {% endfor %}
		</table>

	</section> <!-- cd-faq -->
{% endblock %}
