{% extends "base.twig" %}

{% block content %}
    <section class="cd-faq faq-page">
        <h1>Изменение пользователя:</h1>
        <form action="?/user/update/id/{{ user['id'] }}/" method="post">
            <p>Логин: <input type="text" name="login" value="{{ user['login'] }}"></p>
            <p>Пароль: <input type="text" name="password" value="{{ user['password'] }}"></p>
            <p><input type="submit" value="Сохранить"></p>
        </form>
    </section> <!-- cd-faq -->
{% endblock %}
